<section class="section-one">
  <img class="bg-img" src="/pages/home/innovative-img.svg" alt="">
  <div>
    <h1>Innovative solutions woven for lasting impact.</h1>
    <p>Growth today demands more than strategy it calls for creativity, connection,
      and bold thinking.Partner with us to shape the future, one solution at a time.</p>

    <app-button>Learn more</app-button>
  </div>
</section>

<section class="section-two">
  <h3>PROJECTS</h3>

  <h2>Where digital solutions <br> meet real needs.</h2>

  <p>We design and deploy systems that improve lives bridging connectivity gaps,
    digitizing information, and enhancing infrastructure.</p>

</section>

<section class="section-three">
  <div class="x">
    <img src="/pages/home/man-sunrise.webp" alt="">
    <p>Smart water monitoring</p>
  </div>

  <div class="y">
    <img src="/pages/home/business-chart.webp" alt="">
    <p>Digitizing legal documentation</p>
  </div>
</section>

<section class="section-three">
  <div class="y">
    <img src="/pages/home/children-playing.webp" alt="">
    <p>Regimanuel Gray real estate</p>
  </div>

  <div class="x">
    <img src="/pages/home/man-phone.webp" alt="">
    <p>Bridging the Digital Divide</p>
  </div>
</section>


<section class="section-five">
  <div class="explore">
    <h3>SERVICES</h3>

    <h1>Explore Our <br> Digital Expertise</h1>

    <p>we deliver end-to-end digital solutions
      from custom web development to innovative strategies designed
      to expand your reach and drive impact</p>
  </div>


    <div class="services">
      <ng-container *ngFor="let service of services">
        <div class="visual">
          <div>
            <img src="/pages/home/{{service.icon}}.svg" alt="">
            <h2>{{service.header}}</h2>
          </div>

          <p>{{service.details}}
            <app-button>View service</app-button>
          </p>

        </div>
      </ng-container>
    </div>

</section>

<section class="section-button">
  <app-button>View all services</app-button>
</section>

<section class="section-six">
  <div class="foundation-images">
    <div class="a">
      <img src="/pages/home/woman-teacher.webp" alt="">
      <img src="/pages/home/black-white.webp" alt="">
    </div>

    <div class="b">
      <img src="/pages/home/man-laptop.webp" alt="">
      <img src="/pages/home/child-smile.webp" alt="">
      <img src="/pages/home/hands.webp" alt="">
    </div>

    <div class="c">
      <img src="/pages/home/child-graduate.webp" alt="">
      <img src="/pages/home/girl-locs.webp" alt="">
      <img src="/pages/home/group-study.webp" alt="">
    </div>

    <div class="d">
      <img src="/pages/home/school-children.webp" alt="">
      <img src="/pages/home/white-coat.webp" alt="">
    </div>
  </div>

  <div class="foundation">
    <h3>VDT FOUNDATION</h3>

    <h1>Our Impact Beyond Technology</h1>

    <p>At Vandzilah Technology, innovation doesn’t stop at digital solutions. It extends into our communities. The VDT Foundation is our nonprofit arm dedicated to social change. Through this foundation, we empower underserved communities with access to education, digital tools, and sustainable development initiatives. It’s how we turn our tech values into real-world impact.
    <app-button>Learn more</app-button>
    </p>
  </div>
</section>

<section class="section-seven">
  <h3>CLIENTS & PARTNERS</h3>

  <h1>Collaborating for <br> Lasting Impact</h1>

  <p>Our success is built on meaningful collaborations with organizations that share our vision for digital transformation and sustainable growth.</p>

  <app-button>Join us</app-button>

  <div class="sponsor-box"></div>
</section>


<section class="section-eight">
  <h3>TESTIMONIALS</h3>

  <h1>What people say about us</h1>

  <p>Our work speaks for itself but so do our partners. Over the years, we've earned the trust of respected organizations through impactful, reliable, and innovative digital solutions</p>

    <div class="reviews">
      <ng-container *ngFor="let review of reviews.slice(0, 3); let i = index">

      <div class="review">
        <p>{{review.review}}</p>
        <h5>{{review.author}}</h5>
        <div class="stars">
<!--          <img *ngFor="let item of [].constructor(5); let i = index" src="/pages/home/star-unfilled.svg" alt="">-->
          <app-star-rating [rating]="review.starRating"></app-star-rating>
        </div>
      </div>

      </ng-container>
    </div>

    <div class="review-btn">
      <button *ngFor="let item of [].constructor(reviews.length); let i = index"></button>
    </div>

</section>

