<section class="section-one">
  <img class="bg-img" src="/pages/home/innovative-img.svg" alt="">
  <div>
    <h1>Innovative solutions woven for lasting impact.</h1>
    <p>Growth today demands more than strategy it calls for creativity, connection,
      and bold thinking.Partner with us to shape the future, one solution at a time.</p>

    <app-button>Learn more</app-button>
  </div>
</section>

<section class="section-two">
    <h3>PROJECTS</h3>

    <h2>Where digital solutions <br> meet real needs.</h2>

    <p>We design and deploy systems that improve lives bridging connectivity gaps,
      digitizing information, and enhancing infrastructure.</p>

</section>

<section class="section-three">

    <div class="row-x">
      <img src="/pages/home/man-sunrise.webp" alt="">
      <p>Smart water monitoring</p>
    </div>

  <div class="row-y">
    <img src="/pages/home/business-chart.webp" alt="">
    <p>Digitizing legal documentation</p>
  </div>

</section>

<!--<section class="section-four">-->
<!--    <div class="row-y">-->
<!--      <img src="/pages/home/children-playing.webp" alt="">-->
<!--      <img src="/pages/home/man-phone.webp" alt="">-->
<!--    </div>-->
<!--</section>-->


<section class="section-five">
 <div class="explore">
   <h3>SERVICES</h3>

   <h1>Explore Our <br> Digital Expertise</h1>

   <p>we deliver end-to-end digital solutions
     from custom web development to innovative strategies designed
     to expand your reach and drive impact</p>
 </div>

  <div>
    <h2>Creative & Visual design</h2>

    <p>Fusing creativity and strategy to craft compelling visual solutions rooted in timeless
      design and current trends. Going beyond aesthetics, focusing on functional graphics, user interfaces,
      and brand visuals that shape positive user experiences.
      Working collaboratively, they bring bold ideas to life across digital platforms for real impact.</p>
  </div>
</section>


