<section class="section-one">
  <img class="bg-img" src="/pages/home/innovative-img.svg" alt="">
  <div>
    <h1>Innovative solutions woven for lasting impact.</h1>
    <p>Growth today demands more than strategy it calls for creativity, connection,
      and bold thinking.Partner with us to shape the future, one solution at a time.</p>

    <app-button>Learn more</app-button>
  </div>
</section>

<section class="section-two">
    <h3>PROJECTS</h3>

    <h2>Where digital solutions <br> meet real needs.</h2>

    <p>We design and deploy systems that improve lives bridging connectivity gaps,
      digitizing information, and enhancing infrastructure.</p>

</section>

<section class="section-three">
  <div class="row-x">
    <img src="/pages/home/man-sunrise.webp" alt="">
    <p>Smart water monitoring</p>

    <img src="/pages/home/business-chart.webp" alt="">
    <p>Digitizing legal documentation</p>
  </div>
</section>

<section class="section-four">
    <div class="row-y">
      <img src="/pages/home/children-playing.webp" alt="">
      <img src="/pages/home/man-phone.webp" alt="">
    </div>
</section>



