/*Section one*/
.section-one {
  height: 100vh;
  width: 100%;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0, 0, 0, 0.45));
}

.bg-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

.section-one div {
  width: 55%;
  margin: 5% 0 0 10%;
}

.section-one div p {
  margin-top: 1%;
  font-weight: 400;
  font-size: 1.5em;
}


/*Section two*/
.section-two {
  text-align: center;
  margin: 5% 0;
}

.section-two h3 {
  color: #A8A680;
}

.section-two h2 {
  margin: 1% 0;
}

.section-two p {
  width: 55%;
  margin: 0 auto;
}

/*Section three*/
.section-three {
  width: 90%;
  margin: 0 auto 5% auto;
  display: flex;
  justify-content: center;
}

.section-three .x {
  position: relative;
  width: 759px;
  height: 756px;
}

.section-three .y {
  position: relative;
  width: 600px;
  height: 706px;
  margin-top: 140px;
}

.section-three img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section-three p {
  position: absolute;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.1em;
}

.x p {
  bottom: -17px;
  right: 0;
}

.y p {
  bottom: 5px;
  right: 94px;
}

/*Section five*/
.section-five {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}

.section-five p {
  font-weight: 400;
}

.section-five h1 {
  margin: 2% 0;
}

.explore {
  width: 40%;
}

.explore h3 {
  color: #A8A680;
  text-align: center;
}

.explore p {
  width: 85%
}

.services {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  mask-image: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);
}

.visual {
  padding: 5% 0;
  border-radius: 15px;
  width: 90%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
  margin-top: 60px;
}

.visual div {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto 5% auto;
}

.visual div img {
  margin-right: 40px;
}

.visual h2 {
  margin-top: 0;
}

.visual p {
  width: 90%;
  margin: 0 auto;
}

.section-button {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}


/*Section six*/
.section-six {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  background-color: rgba(168, 166, 128, 0.23);
  padding-top: 5%;
}

.foundation-images {
  width: 48%;
  display: flex;
  justify-content: center;
}

.foundation-images div {
  height: fit-content;
}

.section-six .a {
  width: 172px;
  margin-top: 80px;
}

.section-six .a img:nth-of-type(1){
  width: 128px;
  height: 192px;
  margin-left: 40px;
}

.section-six .a img:nth-of-type(2){
  width: 172px;
  height: 258px;
}

.section-six .b {
  width: 128px;
}

.section-six .b img:nth-of-type(1){
  width: 128px;
  height: 212px;
}

.section-six .b img:nth-of-type(2){
  width: 128px;
  height: 215px;
}

.section-six .b img:nth-of-type(3){
  width: 128px;
  height: 160px;
  margin-top: -15px;
}

.section-six .c {
  width: 128px;
  margin-top: 20px;
}

.section-six .c img{
  width: 128px;
  height: 172px;
}

.section-six .c img:nth-of-type(2){
  margin-top: -25px;
}

.section-six .c img:nth-of-type(3){
  width: 128px;
  height: 192px;
  margin-top: -20px;
}

.section-six .d {
  width: 160px;
  margin-top: 70px;
}

.section-six .d img:nth-of-type(1){
  width: 160px;
  height: 255px;
}

.section-six .d img:nth-of-type(2){
  width: 128px;
  height: 165px;
  margin-top: -15px;
}

.foundation-images img {
  width: 90%;
}

.foundation {
  width: 50%;
}

.foundation h3 {
  color: rgba(168, 166, 128, 1);
  text-align: center;
  margin: 0 auto 5% auto;
}

.foundation h1 {
  width: 90%;
  margin: 0 auto 5% auto;
}

.foundation p {
  width: 90%;
  margin: 0 auto;
}


/*Section seven*/
.section-seven {
  color: white;
  background: linear-gradient(118.61deg, #1C5980 0.99%, #013534 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0;
}

.section-seven h1 {
  margin: 1% 0;
}

.section-seven h3 {
  color: #A8A680;
  margin: 0;
}

.section-seven p {
  width: 45%;
  text-align: center;
  margin: 0;
}


/*Section eight*/
.section-eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 0;
}

.section-eight h1 {
  margin: 1% 0;
}

.section-eight h3 {
  color: #A8A680;
  margin: 0;
}

.section-eight p {
  width: 45%;
  text-align: center;
  margin: 0;
}

.reviews {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  width: 90%;
  margin: 2% auto 1% auto;
}

.reviews .review {
  width: 25%;
  background: linear-gradient(118.61deg, #1C5980 0.99%, #013534 100%);
  color: white;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review p {
  width: 90%;
  font-size: 0.625rem;
  font-weight: 400;
  text-align: left;
}

.review h5 {
  font-size: 0.9375rem;
  font-weight: 400;
}

.review-active {
  height: 50vh;
  width: 30%;
}

.review-active p {
  font-size: 1rem;
}

.review-active h5 {
  font-size: 1.25rem;
}

.review-btn {
  width: 8%;
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
}

.review-btn button {
  background-color: rgba(28, 89, 128, 0.31);
  height: 0.6875rem;
  width: 0.6875rem;
  border-radius: 100%;
  padding: 0;
}

.btn-active {
  background-color: #1C5980;
}

.stars img {

}







@media (max-width: 736px) {

  .section-one div {
    width: 90%;
    margin: 10% auto 0 auto;
  }

  .section-one div p {
    font-size: 0.6em;
  }

  .section-two p {
    width: 90%;
  }

  .section-three {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .section-three p {
    font-size: 0.8em;
  }

  .section-three .x {
    width: 90%;
    height: 300px;
  }

  .section-three .y {
    width: 90%;
    height: 300px;
    margin-top: -5px;
  }

  .x p {
    bottom: -10px;
    right: 0;
  }

  .y p {
    bottom: 0;
    right: 50px;
  }

  .section-five {
    flex-direction: column;
    align-items: center;
  }

  .explore {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
  }

  .explore p {
    margin: 0 auto;
  }

  .services {
    width: 90%;
    text-align: center;
  }

  .visual div img {
    transform: scale(0.7);
  }

  .visual h2 {
    margin-left: -30px;
    text-align: left;
  }

  .visual p {
    margin-top: -10px;
  }

  .visual p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-six {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  .foundation-images {
    transform: scale(0.6);
    margin-bottom: -80px;
  }

  .foundation {
    width: 90%;
    margin-bottom: -50px;
    margin-top: 20px;
    text-align: center;
  }

  .foundation p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-seven p {
    width: 90%;
  }

  .section-eight p {
    width: 90%;
  }
}




@media (max-width: 350px) {
  .section-one div {
    margin: 15% auto 0 auto;
  }

  .foundation-images {
    transform: scale(0.5);
  }
}





@media (min-width:737px) and (max-width:1080px) {
  .section-one div {
    width: 70%;
  }

  .section-six {
    height: auto;
    flex-direction: column-reverse;
    align-items: center;
  }

  .foundation-images {
    width: 80%;
  }

  .foundation {
    width: 80%;
    margin-bottom: 25px;
  }

  .section-three .x {
    width: 50%;
    height: 300px;
  }

  .section-three .y {
    width: 50%;
    height: 300px;
    margin-top: 50px;
  }

  .section-three p {
    font-size: 1em;
  }

  .y p {
    bottom: -5px;
    right: 60px;
  }

  .explore {
    width: 45%;
  }

  .services {
    width: 53%;
    height: 40vh;
  }

  .visual div img {
    transform: scale(0.6);
    margin-right: 0;
  }

  .visual div {
    margin-bottom: 0;
  }

  .visual h2 {
    font-size: 1.5em;
  }

  .section-seven p {
    width: 60%;
  }

  .section-eight p {
    width: 60%;
  }

}




@media (min-width: 1400px) {

}




@media screen and (max-width: 767px) and (orientation: landscape) {
  .section-one {
    height: 800px;
  }
}

