<nav>
 <div class="box">
   <img class="vdt-logo" src="/core/nav/VDT-logo.svg" alt="vdt logo">
   <div class="lang">
     <p *ngIf="!isHamburger" (click)="setLanguages()">{{languages[0].languageCode}}</p>

     <ng-container *ngIf="isLanguages">
       <div data-aos="fade-left" data-aos-easing="ease-in-back" class="languages">
         <ul>
           <li>French (FR)</li>
           <li>Spanish (ES)</li>
           <li>German (DE)</li>
           <li>Dutch (NL)</li>
         </ul>
       </div>
     </ng-container>

     <ng-container *ngIf="isHamburger">
       <div data-aos="fade-left" data-aos-easing="ease-in-back" class="dropdown">
         <img class="close" (click)="setHamburger()" src="/core/nav/close-button.svg" alt="close button">
         <div class="main">
           <img class="menu" src="/core/nav/MENU.svg" alt="">
           <ul>
             <li routerLinkActive="routerLinkActive" routerLink="/projects">Projects</li>
             <li routerLinkActive="routerLinkActive">Services</li>
             <li routerLinkActive="routerLinkActive"
                 class="culture"
                 (click)="setOurCulture()">
               Our Culture <img src="/core/nav/down-arrow.svg" alt="down arrow">

               <ng-container *ngIf="isOurCulture">
                 <ul data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="200">
                   <li>VDT foundation</li>
                 </ul>
               </ng-container>

             </li>
             <li routerLinkActive="routerLinkActive">Careers</li>
             <li routerLinkActive="routerLinkActive">Insights</li>
             <li routerLinkActive="routerLinkActive">Get In Touch</li>
           </ul>
         </div>

         <div class="foot">
           <div>
             <img src="/core/nav/youtube.svg" alt="youtube">
             <img src="/core/nav/facebook.svg" alt="facebook">
             <img src="/core/nav/twitter.svg" alt="twitter">
             <img src="/core/nav/instagram.svg" alt="instagram">
             <img src="/core/nav/linkedin.svg" alt="linkedin">
           </div>

           <img class="vdt-sm-logo" src="/core/nav/VDT-logo-sm.svg" alt="vdt logo">
         </div>
       </div>
     </ng-container>

     <img class="hamburger" (click)="setHamburger()" *ngIf="!isHamburger" src="/core/nav/hamburger.svg" alt="hamburger icon">
   </div>
 </div>
</nav>
