<footer>
  <section class="first">
    <div>
      <img src="/core/footer/VDT4IT.svg" alt="">
      <img src="/core/footer/CEO-LOGO.svg" alt="">
      <img src="/core/footer/MDF.svg" alt="">
      <img src="/core/footer/VDT-foundation.svg" alt="">
      <img src="/core/footer/FR-LOGO.svg" alt="">
    </div>
  </section>

  <section class="second">
    <div class="vdt">
      <img src="/core/footer/VDT-LOGO-white.svg" alt="">
      <img src="/core/footer/qr-code.svg" alt="">
    </div>

    <div class="company">
      <p>Company</p>
      <ul>
        <li>Home</li>
        <li>Services</li>
        <li> Our culture</li>
      </ul>
    </div>

    <div class="explore">
      <p>Explore</p>
      <ul>
        <li>Careers</li>
        <li>Insights</li>
        <li>Get in touch</li>
      </ul>
    </div>

    <div class="touch">
      <p>Get In touch</p>
      <ul>
        <li><img src="/core/footer/location-icon.svg" alt="">Lakeside Estate, 8 Infantry Rd, Ashaley Botwe</li>
        <li><img src="/core/footer/phone-icon.svg" alt="">020 656 2493</li>
        <li><img src="/core/footer/email-icon.svg" alt="">careers&#64;vandzilahtechnologies.com</li>
      </ul>

      <div class="icons">
        <img src="/core/footer/youtube-white.svg" alt="youtube">
        <img src="/core/footer/facebook-white.svg" alt="facebook">
        <img src="/core/footer/twitter-white.svg" alt="twitter">
        <img src="/core/footer/instagram-white.svg" alt="instagram">
        <img src="/core/footer/LinkedIn-white.svg" alt="linkedin">
      </div>
    </div>
  </section>

  <section class="third">
    <p>©2025 Vandzilah technology. All rights reserved.</p>
    <span>Terms of Service | Privacy Policy</span>
  </section>
</footer>
