footer {
  width: 100%;
  background: linear-gradient(118.61deg, #1C5980 0.99%, #013534 100%);
}

.first {
  width: 100%;
  height: 85px;
  background: #A8A6803B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first img {
  max-width: 10%;
}

.second {
  color: white;
  padding: 2% 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

.second li {
  list-style: none;
}

.second .vdt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second p {
  margin-bottom: 7%;
  font-weight: 700;
}

.second .vdt img:nth-of-type(1) {
  max-width: 60%;
  margin-bottom: 3%;
}

.second .vdt img:nth-of-type(2) {
  max-width: 50%;
}

.company ul, .explore ul, .touch ul {
  padding: 0;
}

.touch li {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  width: 70%;
}

.touch p {
  margin-bottom: 0;
}

.touch li img {
  width: 20px;
  margin-right: 5%;
}

.touch .icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-top: 5px;
}

.touch .icons img {
  max-width: 23px;
  height: 23px;
}

.third {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2%;
}

.third p {
  margin-right: 1%;
  font-size: 14px;
}


@media (max-width: 736px) {
  .first {
    height: 45px;
  }

  .second {
    grid-template-columns: 2fr 2fr;
  }

  .second .vdt img:nth-of-type(1) {
    max-width: 60%;
  }

  .second .vdt img:nth-of-type(2) {
    max-width: 40%;
  }

  .touch {
    /*margin: 5% 0;*/
    font-size: 10px;
  }

  .company, .explore {
    font-size: 10px;
    margin-bottom: 10%;
    order: -1;
  }

  .company {
    margin-left: 50px;
  }

  .second p {
    margin-bottom: 2%;
  }

  .touch .icons img {
    max-width: 13px;
    height: 13px;
  }

  .third {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .third p {
    font-size: 10px;
  }

}



@media (max-width: 350px) {

}


@media (min-width: 737px) and (max-width: 1080px) {
  .second {
    grid-template-columns: 2fr 2fr;
  }

  .second p {
    margin-bottom: 2%;
  }

  .company, .explore {
    margin-bottom: 10%;
    order: -1;
  }

  .company {
    margin-left: 100px;
  }
}




