/* You can add global styles to this file, and also import other style files */


* {
  padding: 0;
  margin: 0;
  font-family: "Onest", sans-serif;
}

@font-face {
  font-family: "Onest";
  src: url("../public/fonts/onest/Onest-Regular.ttf");
}
h1 {
  font-size: clamp(60px, 8vh, 80px);
}

h2 {
  font-size: clamp(36px, 5.5vh, 60px);
}

h3 {
  font-size: clamp(24px, 3.5vh, 32px);
}

h4 {
  font-size: clamp(18px, 3vw, 24px);
}

h5 {
  font-size: clamp(30px, 5vh, 48px);
}

p {
  font-size: clamp(10px, 2.5vh, 20px);
}






/*Mobile Screens*/
@media (max-width: 736px)  {
  p {
    font-size: clamp(8px, 1.2vh, 10px);
  }

  h1 {
    font-size: clamp(18px, 2.8vh, 24px);
  }

  h2 {
    font-size: clamp(10px, 2.5vh, 20px);
  }

  h3 {
    font-size: clamp(9px, 1.5vh, 12px);
  }

  h4 {
    font-size: clamp(8px, 1vh + 2px, 11px);
  }

  h5 {
    font-size: clamp(9.5px, 2vh, 16px);
  }

  a {
    font-size: clamp(8px, 1.2vh, 10px);
  }
}




/* ----------- Tablets ----------- */
@media (min-width: 737px) and (max-width: 1080px) {
  p {
    font-size: clamp(9px, 1.5vh, 12px);
  }

  a {
    font-size: clamp(9px, 1.5vh, 12px);
  }

  h1 {
    font-size: clamp(30px, 4.8vh, 40px);
  }

  h2 {
    font-size: clamp(16px, 4vh, 30px);
  }

  h3 {
    font-size: clamp(10px, 2.5vh, 20px);
  }

  h4 {
    font-size: clamp(10px, 2vh, 14px);
  }

  h5 {
    font-size: clamp(12px, 3vh, 25px);
  }
}
